@font-face {
  font-family: Champagne;
  src: url(../fonts/champagne.ttf);
}
@font-face {
  font-family: Lily;
  src: url(../fonts/lily.ttf);
}
body {
  background-color: #292f39;
}
.container-fluid:first-child {
  margin-top: 0px;
}
body {
  font-family: 'Champagne', sans-serif;
  letter-spacing: 2px;
}
.orange {
  background-color: #ed6d50;
  position: relative;
}
.orange:after {
  content: '';
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 25px;
  position: absolute;
  top: 100%;
  left: calc(50% - 25px);
  z-index: 2;
  border-top-color: #ed6d50;
}
.dark {
  background-color: #323a45;
  position: relative;
}
.dark:after {
  content: '';
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 25px;
  position: absolute;
  top: 100%;
  left: calc(50% - 25px);
  z-index: 2;
  border-top-color: #323a45;
}
.darker {
  background-color: #68707b;
  position: relative;
}
.darker:after {
  content: '';
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 25px;
  position: absolute;
  top: 100%;
  left: calc(50% - 25px);
  z-index: 2;
  border-top-color: #68707b;
}
header:before {
  content: '';
  height: 13px;
  position: relative;
  background: #ed6d50;
  margin-left: -15px;
  width: calc(100% + 30px);
}
h1 {
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 0px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 54px;
  font-family: 'Lily', sans-serif;
  font-style: italic;
  font-size: 35px;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.slogan {
  text-align: center;
  color: #68707b;
  padding: 0px;
  margin: 0px;
  height: 8px;
  line-height: 8px;
  padding-bottom: 80px;
  text-transform: uppercase;
  font-size: 8px;
}
nav {
  display: block;
  border-bottom: solid 1px #424750;
}
nav .nav-toggle {
  position: absolute;
  width: 100%;
  height: 34px;
  left: 0px;
  background-color: #ed6d50;
  color: #fff;
  top: 39px;
  z-index: 4;
  display: none;
  cursor: pointer;
  padding-left: 15px;
  line-height: 34px;
}
nav .nav-toggle:hover {
  background-color: #FF9988;
}
nav .nav-toggle:after {
  display: block;
  font-family: 'Glyphicons Halflings';
  content: "\e252";
  text-align: right;
  margin-top: -34px;
  padding-right: 15px;
}
nav ul {
  width: 640px;
  height: 77px;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  position: relative;
  left: 50%;
  margin-left: -320px;
}
nav li {
  display: inline-block;
  width: auto;
  height: 77px;
  line-height: 77px;
  padding: 0px;
  margin: 0px;
  position: relative;
}
nav li a {
  color: #68707b;
  display: inline-block;
  height: 77px;
  width: auto;
  padding-left: 34px;
  padding-right: 34px;
}
nav li a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #68707b;
}
nav li a:active,
nav li a:focus,
nav li a:active:focus {
  background-color: #292f39;
  text-decoration: none;
  color: #fff;
  outline: none;
}
nav .active {
  background-color: #292f39;
  border-bottom: solid 4px #ed6d50;
}
nav .active a:hover {
  border-bottom: solid 4px #ed6d50;
}
nav .active:after {
  content: '';
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 6px;
  position: absolute;
  bottom: 0;
  border-bottom-color: #ed6d50;
  left: calc(50% - 6px);
  z-index: 2;
}
nav .active a {
  color: #fff;
}
@media all and (max-width: 640px) {
  nav {
    height: 75px;
    padding: 0px;
    margin: 0px;
  }
  nav .nav-toggle {
    display: block;
  }
  nav .navigation-menu {
    display: inline-block;
    width: calc(100% + 30px);
    position: relative;
    top: 60px;
    left: -15px;
    padding: 0px;
    margin: 0px;
    height: auto;
    background-color: #ed6d50;
    display: none;
  }
  nav .navigation-menu li {
    padding: 0px;
    margin: 0px;
    position: relative;
    display: block;
    width: 100%;
    height: 34px;
  }
  nav .navigation-menu li a {
    color: #fff;
  }
  nav .navigation-menu li a:hover {
    background-color: #FF9988;
  }
  nav .navigation-menu li.active {
    position: absolute;
    top: -34px;
    background-color: #ed6d50;
  }
  nav .navigation-menu li.active a:hover {
    background-color: #ed6d50;
  }
  nav .navigation-menu li a {
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    text-align: left;
    padding-left: 15px;
  }
}
/*sec 1==============================================================================================0*/
.sec-home-1 {
  background: #323a45;
  width: 100%;
  margin-top: -10px;
  /*end sec-1-a*/
}
.sec-home-1 .title-1 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Champagne";
  text-align: center;
  padding: 0 0 97px 0;
  font-style: normal;
  font-size: 50px;
}
.sec-home-1 .text-orange {
  color: #ed6d50;
}
.sec-home-1 .text-blue {
  color: #68707b;
}
.sec-home-1 .sec-1-a {
  margin-left: 170px;
  /*end circle*/
}
.sec-home-1 .sec-1-a .active-circle:after {
  content: '';
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 30px;
  position: absolute;
  top: -3px;
  left: calc(50% - 30px);
  z-index: 2;
  border-top-color: #323a45;
}
.sec-home-1 .sec-1-a .circle {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
  border-radius: 200px;
  border: 2px solid #68707b;
  background: #333b46;
  display: inline-block;
  width: 259px;
  height: 259px;
  position: relative;
  margin-bottom: 160px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
}
.sec-home-1 .sec-1-a .circle:hover {
  cursor: pointer;
  background: #ed6d50;
  border: none;
  z-index: 1000;
  border: 2px solid #ed6d50;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}
.sec-home-1 .sec-1-a .circle:hover:after {
  content: '';
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 30px;
  position: absolute;
  top: -3px;
  left: calc(50% - 30px);
  z-index: 2;
  border-top-color: #323a45;
  z-index: 1000px;
}
.sec-home-1 .sec-1-a .circle .firts-list {
  color: #68707b;
  text-align: center;
  display: inline-block;
  position: relative;
  top: calc(50% - 50px);
  left: 5px;
}
.sec-home-1 .sec-1-a .circle .firts-list li {
  text-align: center;
  display: inline-block;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}
.sec-home-1 .sec-1-a .circle .firts-list .li-2 {
  position: relative;
  left: -18px;
  font-family: "Lily";
  text-transform: uppercase;
  font-size: 20px;
  font-style: italic;
}
.sec-home-1 .sec-1-a .circle .firts-list .icons {
  position: relative;
  right: 0px;
  text-align: center;
  display: inline-block;
  padding-bottom: 30px;
}
.sec-home-1 .sec-1-a .c-1 {
  margin-left: 30px;
  background: #db674d;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  border: #db674d;
  z-index: 20;
  /*end after*/
}
.sec-home-1 .sec-1-a .c-1:after {
  content: '';
  height: 0;
  width: 0;
  border: solid transparent;
  border-width: 30px;
  position: absolute;
  top: -3px;
  left: calc(50% - 30px);
  z-index: 2;
  border-top-color: #323a45;
  z-index: 1000px;
}
.sec-home-1 .sec-1-a .c-2 {
  position: relative;
  right: 50px;
}
.sec-home-1 .sec-1-a .c-3 {
  position: relative;
  right: 100px;
}
.sec-home-1 .sec-1-a .c-4 {
  position: relative;
  right: 150px;
}
.sec-home-1 .sec-1-a .active-list {
  color: #fff;
}
.sec-home-2 {
  background: #ed6d50;
}
.sec-home-2 div .title-2 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Champagne";
  text-align: center;
  padding: 105px 0 24px 0;
  font-style: normal;
  font-size: 50px;
}
.sec-home-2 div.div {
  border-right: 1px solid #f07f65;
  top: 15px;
  position: relative;
  margin: 0px 0 160px 0;
}
.sec-home-2 div.div ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.sec-home-2 div.div ul li:first-child {
  color: #fff;
  font-family: "Lily";
  text-align: center;
  font-style: italic;
  font-size: 50px;
  padding: 0;
}
.sec-home-2 div.div ul li:nth-child(2) {
  font-family: "Champagne";
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  top: -90px;
  padding: 0;
  font-size: 17px;
}
.sec-home-2 div.div ul li p {
  font-family: "Champagne";
  text-align: center;
  color: #f3abbc;
  padding-top: 0;
  margin-top: 0;
  padding: 0;
  top: -55px;
  position: relative;
}
.sec-home-2 div.div ul li:nth-child(4) {
  font-family: "Lily";
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-style: italic;
  margin: 10px 0 -120px 0;
  width: 80px;
  left: calc(50% - 40px);
  position: relative;
}
.sec-home-2 div.div ul li:nth-child(4):hover {
  color: #68707b;
  cursor: pointer;
}
.sec-home-3 {
  background: #323a45;
  color: #fff;
}
.sec-home-3 div > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec-home-3 div > ul > li:nth-child(1) h1 {
  font-family: "Champagne";
  margin-top: 122px;
  left: -62px;
  position: relative;
  font-style: normal;
}
.sec-home-3 div > ul > li:nth-child(2) {
  color: #68707b;
  padding-left: 172px;
  margin-bottom: 82px;
}
.sec-home-3 div > ul > li:nth-child(3) > ul.list-3-a {
  list-style: none;
  padding-left: 170px;
  margin: 0;
}
.sec-home-3 div > ul > li:nth-child(3) > ul.list-3-a li {
  display: inline-block;
  list-style: none;
}
.sec-home-3 div > ul > li:nth-child(3) > ul.list-3-a li:nth-child(2) {
  width: 230px;
  position: relative;
  margin: 20px;
}
.sec-home-3 div > ul > li:nth-child(4) {
  font-family: "Lily";
  font-size: 30px;
  font-style: italic;
  margin-left: 312px;
  width: 69px;
  margin-bottom: 178px;
}
.sec-home-3 div > ul > li:nth-child(4):hover {
  cursor: pointer;
  color: #68707b;
}
.sec-home-3 div > ul:nth-child(2) {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sec-home-3 div > ul:nth-child(2) > li:nth-child(1) h1 {
  font-family: "Champagne";
  margin-top: 122px;
  position: relative;
  font-style: normal;
  margin-left: -300px;
}
.sec-home-3 div > ul:nth-child(2) > li:nth-child(2) {
  color: #68707b;
  margin-left: -141px;
  margin-bottom: 82px;
}
.sec-home-3 div > ul:nth-child(2) > li:nth-child(3) > ul.list-3-b {
  list-style: none;
  margin: 0;
}
.sec-home-3 div > ul:nth-child(2) > li:nth-child(3) > ul.list-3-b li {
  display: inline-block;
  list-style: none;
}
.sec-home-3 div > ul:nth-child(2) > li:nth-child(3) > ul.list-3-b li:nth-child(2) {
  width: 230px;
  position: relative;
  margin: 20px;
}
.sec-home-3 div > ul:nth-child(2) > li:nth-child(4) {
  font-family: "Lily";
  font-size: 30px;
  font-style: italic;
  padding: 10px 0 0 0;
  margin-left: 183px;
  width: 69px;
  margin-bottom: 178px;
}
.sec-home-3 div > ul:nth-child(2) > li:nth-child(4):hover {
  cursor: pointer;
  color: #68707b;
}
/*en sec-home-3*/
/*sec-home-4*/
.sec-home-4 {
  background: #292f39;
}
.sec-home-4 .div-1 {
  padding-left: 348px;
  position: relative;
}
.sec-home-4 .div-1 ul {
  position: relative;
  list-style: none;
}
.sec-home-4 .div-1 ul > li {
  color: #68707b;
}
.sec-home-4 .div-1 ul > li i {
  padding-left: 70px;
  margin: 72px 0 36px 0;
  color: #ed6d50;
}
.sec-home-4 .div-2 {
  position: relative;
  padding-left: 93px;
}
.sec-home-4 .div-2 ul {
  position: relative;
  list-style: none;
  margin-bottom: 46px;
}
.sec-home-4 .div-2 ul > li {
  color: #68707b;
}
.sec-home-4 .div-2 ul > li i {
  padding-left: 50px;
  margin: 72px 0 36px 0;
  color: #ed6d50;
}
.sec-home-4 h1 {
  text-transform: uppercase;
}
.sec-home-4 p {
  color: #68707b;
  text-align: center;
  position: relative;
  top: -10px;
  padding: 0;
  margin-bottom: 60px;
}
.sec-home-4 .arrow {
  position: relative;
  margin-bottom: 83px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
  opacity: 0.5;
}
.sec-home-4 .arrow:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  cursor: pointer;
}
.bottom-4:after {
  content: '';
  height: 13px;
  position: relative;
  background: #ed6d50;
  margin-left: -15px;
  width: calc(100% + 30px);
}
/*break points================================================================*/
@media (max-width: 767px) {
  header h1 {
    margin-top: 35px;
  }
  .sec-home-1 .sec-1-a .circle .firts-list .icons {
    left: 15px;
  }
  .sec-home-1 .sec-1-a .circle .firts-list .li-2 {
    left: -5px;
  }
  .sec-home-1 .sec-1-a .circle .firts-list .active-list {
    left: 5px;
  }
  .sec-home-1 .sec-1-a .circle .firts-list .watch {
    left: 23px;
  }
  .sec-home-1 .icons {
    right: 0px;
  }
  .sec-home-1 .title-1 {
    font-size: 35px;
    margin-top: 0px;
    padding: 0;
  }
  .sec-home-1 .title-1 .text-orange {
    line-height: 70px;
  }
  .sec-home-1 .sec-1-a .c-1,
  .sec-home-1 .sec-1-a .c-2,
  .sec-home-1 .sec-1-a .c-3,
  .sec-home-1 .sec-1-a .c-4 {
    margin: 0;
    padding: 0;
  }
  .sec-home-1 .sec-1-a .circle {
    position: relative;
    left: calc(50% - 220px);
    margin: 0;
    padding: 0;
  }
  .sec-home-1 .sec-1-a .c-1 {
    margin-top: 157px;
  }
  .sec-home-1 .sec-1-a .c-4 {
    margin-bottom: 153px;
  }
  .sec-home-2 div .title-2 {
    line-height: 70px;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 100px;
  }
  .sec-home-2 div.div {
    border-right: none;
    margin: 0;
  }
  .sec-home-2 div.div ul li:nth-child(4) {
    margin-bottom: 0px;
  }
  .sec-home-2 div.div ul #li-4 {
    margin-bottom: 160px;
  }
  /*end sec-home-2*/
  .sec-home-3 div > ul.who > li:nth-child(1) h1 {
    text-align: center;
    margin-left: 100px;
    margin-bottom: 80px;
    line-height: 50px;
  }
  .sec-home-3 div > ul.who > li:nth-child(2) {
    padding-left: 0px;
    width: 220px;
    left: calc(50% - 110px);
    text-align: center;
    position: relative;
  }
  .sec-home-3 div > ul.who > li:nth-child(3) > ul.list-3-a {
    list-style: none;
    padding: 0px;
    margin: 0;
  }
  .sec-home-3 div > ul.who > li:nth-child(3) > ul.list-3-a li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
  }
  .sec-home-3 div > ul.who > li:nth-child(3) > ul.list-3-a li img {
    margin-bottom: 91px;
  }
  .sec-home-3 div > ul.who > li:nth-child(3) > ul.list-3-a li:nth-child(2) {
    width: 50px;
    position: relative;
    margin: 20px;
  }
  .sec-home-3 div > ul.who > li:nth-child(4) {
    margin-left: 20px;
  }
  .sec-home-3 div > ul.what > li:nth-child(1) > h1 {
    margin-left: 100px;
    line-height: 50px;
  }
  .sec-home-3 div > ul.what > li#text-what {
    padding-left: 0px;
    width: 220px;
    left: calc(50% - 110px);
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 79px;
  }
  .sec-home-3 div > ul.what > li:nth-child(3) > ul.list-3-b {
    list-style: none;
    padding: 0px;
    margin: 0;
  }
  .sec-home-3 div > ul.what > li:nth-child(3) > ul.list-3-b li {
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 0;
  }
  .sec-home-3 div > ul.what > li:nth-child(3) > ul.list-3-b li img {
    margin-bottom: 91px;
  }
  .sec-home-3 div > ul.what > li:nth-child(3) > ul.list-3-b li:nth-child(2) {
    width: 50px;
    position: relative;
    margin: 20px;
  }
  .sec-home-3 div > ul.what > li:nth-child(4) {
    margin-left: 20px;
    margin-bottom: 105px;
  }
  .sec-home-3 div > ul:nth-child(2) > li:nth-child(2) {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .sec-home-4 div {
    padding: 0;
  }
  .sec-home-4 div > .div-1 {
    padding: 0;
    font-size: 8px;
  }
  .sec-home-4 div > .div-1 > ul {
    width: 160px;
  }
  .sec-home-4 div > .div-1 > ul i {
    padding-left: 55px;
  }
  .sec-home-4 div > .div-2 {
    position: relative;
    padding: 0px;
    font-size: 8px;
  }
  .sec-home-4 div > .div-2 > ul {
    width: 130px;
    padding: 0;
    margin-top: 8px;
    margin-left: 20px;
    left: calc(50% - 80px);
  }
  .sec-home-4 div > .div-2 > ul i {
    padding-left: 36px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sec-home-1 .sec-1-a {
    margin: 0;
    padding: 0;
  }
  .sec-home-1 .sec-1-a .circle {
    padding: 0;
    margin: 0;
  }
  .sec-home-1 .sec-1-a .circle .firts-list li:nth-child(1) {
    margin-left: 10px;
  }
  .sec-home-1 .sec-1-a .circle .firts-list li:nth-child(1) > li > ul > li {
    margin-left: 0;
  }
  .sec-home-1 .sec-1-a .circle .firts-list .watch {
    margin-left: 20px;
  }
  .sec-home-1 .sec-1-a .c-1 {
    margin-left: 115px;
    margin-bottom: 0;
  }
  .sec-home-1 .sec-1-a .c-2 {
    margin-right: 100px;
  }
  .sec-home-1 .sec-1-a .c-3 {
    margin-left: 219px;
    margin-bottom: 100px;
  }
  .sec-home-2 div.div:nth-child(2) > ul > li:nth-child(4) {
    margin-top: -20px;
  }
  /*end sec-home-2*/
  .sec-home-3 div > ul.who > li:nth-child(3) > ul.list-3-a {
    padding-left: 20px;
  }
  .sec-home-3 div > ul.who > li:nth-child(4) {
    margin-left: 20px;
  }
  .sec-home-3 div > ul.what > li:nth-child(1) {
    margin-left: 250px;
  }
  .sec-home-3 div > ul.what > li:nth-child(4) {
    margin-left: 20px;
  }
  /*end sec-home-3*/
  .sec-home-4 div > div.div-1 {
    padding-left: 62px;
  }
  /*end sec-home-4*/
}
@media (min-width: 992px) and (max-width: 1024px) {
  .sec-home-1 .sec-1-a {
    margin: 0;
    padding: 0;
  }
  .sec-home-1 .sec-1-a .circle {
    padding: 0;
    margin: 0;
  }
  .sec-home-1 .sec-1-a .circle .firts-list li:nth-child(1) {
    margin-left: 10px;
  }
  .sec-home-1 .sec-1-a .circle .firts-list li:nth-child(1) > li > ul > li {
    margin-left: 0;
  }
  .sec-home-1 .sec-1-a .circle .firts-list .watch {
    margin-left: 20px;
  }
  .sec-home-1 .sec-1-a .c-1 {
    margin-left: 271px;
    margin-bottom: 0;
  }
  .sec-home-1 .sec-1-a .c-2 {
    margin-right: 100px;
  }
  .sec-home-1 .sec-1-a .c-3 {
    margin-left: 378px;
    margin-bottom: 100px;
  }
  .sec-home-2 div.div:nth-child(2) > ul > li:nth-child(4) {
    margin-top: -20px;
  }
  /*end sec-home-2*/
  .sec-home-3 div > ul.who > li:nth-child(3) > ul.list-3-a {
    padding-left: 20px;
  }
  .sec-home-3 div > ul.who > li:nth-child(4) {
    margin-left: 20px;
  }
  .sec-home-3 div > ul.what > li:nth-child(1) {
    margin-left: 250px;
  }
  .sec-home-3 div > ul.what > li:nth-child(4) {
    margin-left: 20px;
  }
  /*end sec-home-3*/
  .sec-home-4 div > div.div-1 {
    padding-left: 166px;
  }
  /*end sec-home-4*/
}
/* Variables */
/* /.Variables */
.text-center {
  text-align: center;
}
/* Mixins */
/* /.Mixins */
/* ------ About-sec Part1 ------ */
.about-sec {
  height: auto;
  /* Responsive */
}
.about-sec .about-title {
  font-size: 50px;
  font-family: 'Champagne';
  font-style: normal;
  font-size: 40px;
  margin-top: 99px;
}
.about-sec img {
  margin-top: 80px;
}
.about-sec #parrafoUno {
  color: #fed4ca;
  margin-top: 100px;
  font-size: 18px;
  margin-left: -14px;
}
.about-sec .more {
  font-family: 'Lily', sans-serif;
  font-style: italic;
  font-size: 35px;
  color: #fff;
  margin-top: 65px;
  margin-bottom: 93px;
}
.about-sec .more:hover {
  color: #68707b;
  cursor: pointer;
}
@media screen and (max-width: 1205px) {
  .about-sec .col-xs-12,
  .about-sec .col-md-12,
  .about-sec .col-sm-12 {
    text-align: center;
  }
  .about-sec .more,
  .about-sec #parrafoUno {
    margin-top: 10px;
  }
}
/* ------ /.About-sec Part1 ------ */
/* ------- About-sec2 Part2 ------- */
.about-sec2 {
  height: auto;
  /* Responsive */
}
.about-sec2 .about-title {
  font-size: 50px;
  font-family: 'Champagne';
  font-style: normal;
  font-size: 40px;
  margin-top: 100px;
}
.about-sec2 .slogan2 {
  text-align: center;
  color: #68707b;
  margin-top: 22px;
  margin-bottom: 0px;
}
.about-sec2 .circles-style {
  margin-top: 100px;
}
.about-sec2 .circles-texts {
  color: #fff;
  margin-top: 90px;
  font-size: 16px;
}
.about-sec2 .more-sec2 {
  font-family: 'Lily', sans-serif;
  font-style: italic;
  font-size: 35px;
  color: #fff;
  margin: 0;
}
.about-sec2 .more-sec2:hover {
  color: #68707b;
  cursor: pointer;
}
.about-sec2 .col-lg-1 {
  width: 160px;
  height: 130px;
}
.about-sec2 .about-title2 {
  font-size: 50px;
  font-family: 'Champagne';
  font-style: normal;
  font-size: 40px;
  margin-top: 123px;
}
.about-sec2 .slogan3 {
  text-align: center;
  color: #68707b;
  margin-top: 10px;
  margin-bottom: 90px;
}
.about-sec2 .logos-about {
  width: 150px;
  height: 60px;
}
.about-sec2 .logos-about:hover {
  cursor: pointer;
  -webkit-transform: translateX(1px);
  -moz-transform: translateX(1px);
  -ms-transform: translateX(1px);
  -o-transform: translateX(1px);
  transform: translateX(1px);
}
.about-sec2 .logos-about:active {
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
.about-sec2 .logos-about:focus {
  background: #68707b;
}
.about-sec2 .img-thumbnail {
  background: transparent;
}
@media all and (min-width: 1320px) {
  .about-sec2 .logos-about {
    margin-right: 50px;
  }
}
@media all and (min-width: 1150px) and (max-width: 1320px) {
  .about-sec2 .logos-about {
    margin-right: 20px;
  }
}
@media all and (max-width: 767px) {
  .about-sec2 .circles-texts {
    margin-top: 5px;
    text-align: center;
  }
  .about-sec2 .circles-style {
    margin-top: 25px;
    left: -webkit-calc(48% - 70px);
    left: -moz-calc(48% - 70px);
    left: -ms-calc(48% - 70px);
    left: -o-calc(48% - 70px);
    left: calc(48% - 70px);
  }
}
@media all and (min-width: 870px) and (max-width: 991px) {
  .about-sec2 .logo4,
  .about-sec2 .logo0,
  .about-sec2 .logo1,
  .about-sec2 .logo2,
  .about-sec2 .logo3 {
    left: -webkit-calc(16% - 75px);
    left: -moz-calc(16% - 75px);
    left: -ms-calc(16% - 75px);
    left: -o-calc(16% - 75px);
    left: calc(16% - 75px);
    position: relative;
  }
}
@media all and (min-width: 768px) {
  .about-sec2 .logos-about {
    margin-bottom: 180px;
  }
}
@media all and (min-width: 768px) and (max-width: 870px) {
  .about-sec2 .logo4,
  .about-sec2 .logo0,
  .about-sec2 .logo1,
  .about-sec2 .logo2,
  .about-sec2 .logo3 {
    left: -webkit-calc(10% - 75px);
    left: -moz-calc(10% - 75px);
    left: -ms-calc(10% - 75px);
    left: -o-calc(10% - 75px);
    position: relative;
  }
}
@media all and (min-width: 361px) and (max-width: 449px) {
  .about-sec2 .logo4,
  .about-sec2 .logo0,
  .about-sec2 .logo1,
  .about-sec2 .logo2,
  .about-sec2 .logo3 {
    left: -webkit-calc(30% - 75px);
    left: -moz-calc(30% - 75px);
    left: -ms-calc(30% - 75px);
    left: -o-calc(30% - 75px);
    left: calc(30% - 75px);
    position: relative;
  }
  .about-sec2 .logo4 {
    left: -webkit-calc(50% - 75px);
    left: -moz-calc(50% - 75px);
    left: -ms-calc(50% - 75px);
    left: -o-calc(50% - 75px);
    left: calc(50% - 75px);
    position: relative;
  }
}
@media all and (min-width: 300px) and (max-width: 360px) {
  .about-sec2 .logo0,
  .about-sec2 .logo1,
  .about-sec2 .logo2,
  .about-sec2 .logo3 {
    left: -webkit-calc(25% - 75px);
    left: -moz-calc(25% - 75px);
    left: -ms-calc(25% - 75px);
    left: -o-calc(25% - 75px);
    left: calc(25% - 75px);
    position: relative;
  }
  .about-sec2 .logo4 {
    left: -webkit-calc(50% - 75px);
    left: -moz-calc(50% - 75px);
    left: -ms-calc(50% - 75px);
    left: -o-calc(50% - 75px);
    left: calc(50% - 75px);
    position: relative;
  }
}
@media all and (max-width: 360px) {
  .about-sec2 .about-title,
  .about-sec2 .about-title2 {
    font-size: 34px;
  }
}
/* ------- /.About-sec2 Part2 ------- */
@font-face {
  font-family: Champagne;
  src: url(../fonts/champagne.ttf);
}
@font-face {
  font-family: Lily;
  src: url(../fonts/lily.ttf);
}
.sec-blog-1 {
  padding-top: 55px;
}
.sec-blog-2 {
  padding-bottom: 55px;
}
.sec-blog-1,
.sec-blog-2 {
  background: #ed6d50;
  position: relative;
}
.sec-blog-1 .h1,
.sec-blog-2 .h1 {
  font-family: "Champagne";
  font-style: normal;
  font-size: 42px;
}
.sec-blog-1 .list-a,
.sec-blog-2 .list-a {
  list-style: none;
  position: relative;
  margin-top: 97px;
}
.sec-blog-1 .list-a > li > span.n27,
.sec-blog-2 .list-a > li > span.n27 {
  color: white;
  font-size: 90px;
  font-family: "Lily";
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}
.sec-blog-1 .list-a > li > span.march,
.sec-blog-2 .list-a > li > span.march {
  position: absolute;
  margin-top: -40px;
  color: white;
  margin-left: 20px;
}
.sec-blog-1 .list-a > li:nth-child(2),
.sec-blog-2 .list-a > li:nth-child(2) {
  position: relative;
  margin-left: 100px;
}
.sec-blog-1 .list-a > li:nth-child(3),
.sec-blog-2 .list-a > li:nth-child(3) {
  position: relative;
  padding-top: 280px;
  color: white;
}
.sec-blog-1 .list-a > li:nth-child(4),
.sec-blog-2 .list-a > li:nth-child(4) {
  position: relative;
  padding-top: -150px;
  color: white;
  font-family: "Lily";
  font-size: 30px;
  font-style: italic;
}
.sec-blog-1 .list-a > li:nth-child(4):hover,
.sec-blog-2 .list-a > li:nth-child(4):hover {
  cursor: pointer;
  color: #68707b;
}
.sec-blog-1 .list-blog-check-a,
.sec-blog-2 .list-blog-check-a {
  color: #fcc9bc;
  margin-top: 100px;
  position: relative;
  list-style: none;
  margin-left: 110px;
}
.sec-blog-1 .list-blog-check-a > li,
.sec-blog-2 .list-blog-check-a > li {
  margin-bottom: 10px;
}
.sec-blog-3 {
  width: 100%;
  height: 60px;
  background: #323a45;
}
/*break points==========================================================*/
@media (max-width: 767px) {
  .sec-blog-1 .list-a > li > span.n27,
  .sec-blog-2 .list-a > li > span.n27 {
    width: 96px;
    left: calc(50% - 48px);
    position: relative;
  }
  .sec-blog-1 .list-a > li > span.march,
  .sec-blog-2 .list-a > li > span.march {
    idth: 96px;
    left: calc(50% - 48px);
    position: absolute;
  }
  .sec-blog-1 .list-a > li:nth-child(2),
  .sec-blog-2 .list-a > li:nth-child(2) {
    position: absolute;
    width: 215px;
    left: calc(50% + -90px);
    padding: 0;
    margin: 0;
  }
  .sec-blog-1 .list-a > li:nth-child(3),
  .sec-blog-2 .list-a > li:nth-child(3) {
    width: 215px;
    left: calc(50% - 107px);
    position: relative;
    padding-top: 250px;
  }
  .sec-blog-1 .list-blog-check-a,
  .sec-blog-2 .list-blog-check-a {
    margin-left: 0px;
  }
  .sec-blog-1 .list-blog-check-a > li,
  .sec-blog-2 .list-blog-check-a > li {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sec-blog-1 .h1 {
    margin-left: 145px;
    position: relative;
  }
  .sec-blog-1 div > #blog {
    position: relative;
    margin-left: -129px;
  }
  .sec-blog-2 .h1 {
    margin-left: 100px;
    position: relative;
    margin-top: 120px;
  }
}
/* variable */
/* /. varialbles */
/* Mixins */
/* /.Mixins */
/* services sec1 */
.services-sec1 {
  width: 100%;
  height: auto;
  /* responsive */
  /* responsive */
}
.services-sec1 .services-title {
  margin-top: 120px;
  font-size: 50px;
  font-family: 'Champagne';
  font-style: normal;
  font-size: 40px;
}
.services-sec1 .list-services {
  list-style-type: none;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 90px;
  padding-left: 39px;
}
.services-sec1 .list-services p {
  margin-right: 10px;
}
.services-sec1 .list-services li {
  margin-bottom: -10px;
}
.services-sec1 .list-services a {
  text-decoration: none;
  color: #fff;
}
.services-sec1 .list-services a:hover {
  color: #323a45;
  cursor: pointer;
}
.services-sec1 .subsection2 .servicesUno {
  list-style: none;
  margin-top: 100px;
  margin-left: -30px;
  color: #fff;
}
.services-sec1 .subsection2 .servicesUno .titulo-uno {
  margin-top: 2px;
}
.services-sec1 .subsection2 .servicesUno .texto-uno {
  margin-top: 30px;
  color: #FCDBD4;
}
.services-sec1 .subsection2 .servicesUno .titulo-uno:hover {
  color: #323a45;
  cursor: pointer;
}
.services-sec1 .subsection2 .servicesDos {
  margin-top: 120px;
}
@media screen and (max-width: 1080px) {
  .services-sec1 .list-services,
  .services-sec1 .subsection2 .servicesUno {
    text-align: center;
    margin-top: 50px;
  }
  .services-sec1 .list-services {
    margin-bottom: 15px;
  }
  .services-sec1 .services-title {
    margin-top: 80px;
  }
  .services-sec1 .subsection2 .servicesUno {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1350px) {
  .services-sec1 .textSerives {
    margin-left: -26px;
  }
  .services-sec1 .textSerives2 {
    margin-left: -23px;
  }
}
@media screen and (min-width: 768px) and (max-width: 770px) {
  .services-sec1 .services-title2 {
    line-height: 30px;
  }
}
@media screen and (max-width: 420px) {
  .services-sec1 .services-title {
    font-size: 30px;
    line-height: 23px;
  }
}
/* /.services sec1 */
/* --- services - sec2 ----- */
.services-sec2 {
  /*responsive*/
}
.services-sec2 .services-texts p:last-child {
  color: #68707b;
}
.services-sec2 .bottom {
  margin-bottom: 100px;
  color: #fff;
}
@media screen and (max-width: 420px) {
  .services-sec2 .services-title {
    font-size: 30px;
    line-height: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .services-sec2 .circles {
    margin-left: -25px;
  }
  .services-sec2 .circles2 {
    margin-left: -5px;
  }
}
/* --- /.services - sec2 ----- */
.contact h2 {
  color: #fff;
  font-family: 'Champagne', sans-serif;
  font-size: 46px;
  line-height: 36px;
  padding: 0px;
  margin: 0px;
  margin-top: 108px;
  margin-bottom: 90px;
  text-transform: uppercase;
}
.orange p {
  color: #f7e8c8;
  padding: 0px;
  margin: 0px;
  margin-bottom: 35px;
}
.map {
  margin-bottom: 60px;
}
.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
article p:last-child {
  margin-bottom: 108px;
}
.form-group {
  padding-top: 12px;
  padding-bottom: 160px;
}
.contact-form ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  line-height: 10px;
  font-size: 15px;
}
.contact-form :-moz-placeholder {
  color: #fff;
  opacity: 1;
  line-height: 10px;
  font-size: 15px;
}
.contact-form ::-moz-placeholder {
  color: #fff;
  opacity: 1;
  line-height: 10px;
  font-size: 15px;
}
.contact-form :-ms-input-placeholder {
  color: #fff;
}
.contact-form input {
  width: 100%;
  background-color: #292f39;
  line-height: 10px;
  padding: 15px;
  color: #fff;
  margin: 10px 0px;
  border: none;
  font-size: 15px;
}
.contact-form textarea {
  width: 100%;
  background-color: #292f39;
  line-height: 10px;
  padding: 15px;
  color: #fff;
  margin: 10px 0px;
  border: none;
  font-size: 15px;
  resize: none;
  line-height: 20px;
}
.contact-form .btn-group {
  margin-top: 42px;
}
.contact-form button {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  height: 16px;
  line-height: 16px;
  background: none;
  border: none;
  color: #fff;
  margin-right: 22px;
  font-family: 'Lily', sans-serif;
  font-style: italic;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.container-fix {
  padding: 0px;
  margin: 0px;
  margin-left: -15px;
  width: calc(100% + 30px);
}
nav ul.dropdown-menu {
  width: 133px;
  height: auto;
  position: absolute;
  z-index: 4;
  top: 90px;
  left: 50%;
  padding: 0px;
  margin: 0px;
  margin-left: -210px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #292f39;
  display: none;
}
nav ul.dropdown-menu:before {
  content: '';
  position: absolute;
  top: 0;
  margin-top: -77px;
  height: 77px;
  width: 100%;
  background-color: transparent;
  z-index: 4;
}
nav ul.dropdown-menu li {
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 0px;
  margin: 0px;
}
nav ul.dropdown-menu li a {
  display: inline-block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}
nav ul.dropdown-menu li a:hover {
  background-color: transparent;
}
nav ul.dropdown-menu li a:active {
  outline: none;
}
nav ul.dropdown-menu li a:focus {
  outline: none;
}
nav .dropdown-btn:hover {
  background-color: #292f39;
}
@media all and (max-width: 640px) {
  nav ul.dropdown-menu {
    z-index: -1;
  }
}
